
<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minumum-scale=1.0">

<body>






<footer th:fragment="myfooter" class="page-footer footer-background fixed-bottom text-center text-white bg-dark font-small blue">
  <div class="footer-copyright text-center py-3">
  	<p class="lead"> &copy; Uğur Hamzaoğlu / User Management System</p>
  </div>


</footer>





</body>
</html>

