<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org">


<body>

<div th:fragment="mynavbar">

	<!--logout form -->
		<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
			<input type="submit" />
		</form>
	
<!-- NAVBAR -->
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		
			<a class="navbar-brand ml-3" th:href="@{/}">
				<img th:src="@{/images/Folder-Group-icon.png}"  style="width:120px;height:120px;"/>
			</a>
			
			 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
			 </button>
		
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav offset-1">
				
				<!--  simple href /users
					<li class="nav-item">
						<a class="nav-link" th:href="@{/users}">Users</a>
					</li>
					
				-->
				
				<!-- When click users in navbar, directly sorting by id -->
				<li class="nav-item">
						<a class="nav-link" th:href="@{/users/page/1?sortField=id&sortDir=asc}">Users</a>
				</li>
					
			
				 
				     
				<div class="dropdown dropright">
						  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    <span><i class="fas fa-user fa-2x icon-silver " ></i></span>
						  </button>
						  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						   	<a id="logoutLink" class="dropdown-item" href="">Logout</a>
						    <a class="dropdown-item" th:href="@{/login}">Login</a>
						    <a class="dropdown-item" th:href="@{/account}">Account Detail</a>
						  </div>
				</div>     
				     
				     
				     
				     
				     
			
				</ul>
			</div>
			
		</nav>
<!-- /NAVBAR -->








</div>

</body>
</html>
	



