<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	

<body>

<div th:fragment="mynavbar">

	<!--logout form -->
		<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
			<input type="submit" />
		</form>
	
<!-- NAVBAR -->
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		
			<a class="navbar-brand ml-3" th:href="@{/}">
				<img th:src="@{/images/Folder-Group-icon.png}"  style="width:120px;height:120px;"/>
			</a>
			
			 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
			 </button>
		
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav offset-1">
				
				<!--  simple href /users
					<li class="nav-item">
						<a class="nav-link" th:href="@{/users}">Users</a>
					</li>
					
				-->
				
				<!-- When click users in navbar, directly sorting by id -->
				
				<li class="nav-item" sec:authorize="hasAuthority('Admin')">
						<a class="nav-link" th:href="@{/users/page/1?sortField=id&sortDir=asc}">Users</a>
				</li>
					
			
				 	
		
		
			     </li>
				<div class="dropdown dropright offset-4">
				
				
						  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  
						  	
						    <i  class="fas fa-user fa-2x icon-silver "></i>
						   	<span class="font-size:8px;"  sec:authentication="principal.fullname"></span>
						    
						  </button>
						  <div class="dropdown-menu" id="myDropdown" aria-labelledby="dropdownMenuButton">
						  
						   			<div sec:authorize="isAuthenticated()">
       								 	<a class="dropdown-item" th:href="@{/account}">Account Detail</a>
							       		<a id="logoutLink" class="dropdown-item" href="">Logout</a>
						 
   								 	</div>
						   	
							    	 <div sec:authorize="isAnonymous()">
							    		<a class="dropdown-item" th:href="@{/login}">Login</a>
							 		 </div>
						  </div>
				</div>     
				     
				     
			
				</ul>
			</div>
			
		</nav>
<!-- /NAVBAR -->

</div>

</body>
</html>
	



