
<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org">


<body>


	<th th:fragment="columnThings(fieldName, columnName)">
		<a  class="text-white"
			th:href="@{'/users/page/' + ${currentPage} + '?sortField=' +  ${fieldName}  +'&sortDir='  +  ${sortField != fieldName ? sortDir : reverseSortDir} +  ${searchKeyword != null ? '&searchKeyword=' + searchKeyword : ''  }}"															
			>
			[[${columnName}]]
		</a>
		
		 	
      	<span 	th:if="${sortField == fieldName}"
      			th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down' }">
      			
      	</span>
		
	</th>	




</body>
</html>
