
<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org">

<head th:fragment="head_section(title)">

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minumum-scale=1.0">
	<title>[[${title}]]</title>
	
	<link rel="stylesheet"  type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.15.1/css/all.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>

</head>
<body>


</body>
</html>
