@charset "UTF-8";




.footer-background {
	
	
    clip-path: polygon(25% 14%, 77% 14%, 100% 23%, 100% 100%, 74% 100%, 25% 100%, 0 100%, 0 25%);
}


/* User form*/
.createForm {
	margin : 0 auto;
	border-radius: 50px;
	font-weight:bolder;
	background: white;
	box-shadow: -1px 10px 27px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 10px 27px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 10px 27px 0px rgba(0,0,0,0.75);
	
}




/* navbar */

.navbar-dark .navbar-nav .nav-link {
		
			 color:#FFD43B;
			 font-size:17px;
			 font-weight:bolder;
			 border: 1px solid bisque;
   			 border-radius: 5px 5px;
   			 margin-left:1rem;
   			
}
		
.navbar-dark .navbar-nav .nav-link:hover {
	color:#FAB005;
	font-weight:bolder;
	font-size:17px;
	border: 1px solid bisque;
	background-color:white;
	transition:.3s all ease-in-out;
}
nav {
	clip-path: polygon(36% 0, 81% 0, 100% 0, 100% 91%, 70% 96%, 24% 96%, 0 91%, 0 0);
	
}



.text-gray {
	color:#d6d6d6a1;
}


.cardImage {
	height: 250px;
    object-fit: cover;
    object-position: center center;
	border-top-left-radius: 0; 
    border-top-right-radius: 0;
}


.rowStyle {
	justify-content: center;
    align-items: center;
    height: 100%;
	
}


.card {
	border-radius: 50px;
	
	background: white;
	box-shadow: -1px 10px 27px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 10px 27px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 10px 27px 0px rgba(0,0,0,0.75);
	
}












